/*Footer*/
.footer {
  color: white;
  background-color: #292f3d;
}

.info_space {
  display: flex;
  margin: 20px 0;
  height: 60px;
}

.company_space {
  width: 40%;
}

.company_footer_img_box {
  width: 90px;
}

.company_footer_logo {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.link_space {
  width: 30%;
}

.link_box {
  display: flex;
  align-items: flex-end;

  height: 100%;
}

.footer_heading {
  font-size: 14px;
}

.media_space {
  width: 30%;
}

.media_box {
  display: flex;
  align-items: flex-end;

  height: 100%;
}

.info_box__details {
  margin-top: 6px;
}

.info_box__hours {
  margin-top: 12px;
}

.something_info_space {
  display: flex;
}

.business_info_space {
  width: 40%;
}

.nav_link_space {
  width: 30%;
  padding-left: 25px;
}

.social_link_space {
  width: 30%;
}
.social_link_box {
  display: flex;
  flex-direction: column;
}

.copyright_space {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
/*Footer*/

@media screen and (max-width: 719px) {
  .footer :global(*) {
    font-size: 12px;
  }
}
