.header0 {
  background-color: #583b4c;
  color: white; /*affects the colors of the material icons*/

  /*belows styles necessary for when using in a hero*/
  position: relative;
  z-index: 5;
}
.socialAdj {
  height: 65px;
  display: flex;
  padding-top: 20px;
  position: relative;
}

.socialText {
  margin-right: 20px;
}

.socialAdj .MuiSvgIcon-root {
  margin-right: 20px;
}

.companyLogo {
  position: absolute;
  background-color: white;

  z-index: 12;
  left: 50%;
  top: 0;
  transform: translateX(-50%);

  border-top: 4px solid #ef90a4;
  background-color: #583b4c; /*should match what is in header0*/
  height: 125px;
  width: 125px;
  padding: 7px;
}

.colorBox {
  height: 100%;
  background-color: white;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.colorBox img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

@media all and (max-width: 1023px) {
  .socialAdj {
    height: 90px;
  }
  .companyLogo {
    top: auto;
    bottom: 0;
    transform: translateY(62%) translateX(-50%);
  }
}
